@use "sass:map";
@use "sass:color";

@use "global_variables" as gv;


@mixin header {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    .logo__ohmyfood {
        width: 200px;
    }
}

@mixin button {
    padding: 15px;
    margin: 20px auto 50px auto;
    text-align: center;
    color: white;
    border-style: none;
    border-radius: 25px;
    background: linear-gradient(
    map.get(gv.$colors, "main-pink"),
    map.get(gv.$colors, "main-purple")
    );
    box-shadow: 0px 5px 5px 0px map.get(gv.$colors, "shadow");
    transition: all 500ms;
    
    &:hover {
        opacity: 80%;
        box-shadow: 0px 3px 10px 5px darken(map.get(gv.$colors, "shadow"), 5%);
    }
}

@mixin card {
    position: relative;
    border-radius: 15px;
    box-shadow: 0px 5px 5px 0px map.get(gv.$colors, "shadow");
    display: flex;
    .card-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .card-text {
            h3 {
                margin: 0;
            }
            display: block;
        }
    }
}

@mixin footer {
    h1 {
        font-size: 18px;
    }
    .list__footer {
        list-style: none;
        padding-left: 0;
    }
    li {
        padding-bottom: 8px;
    }
    padding: 15px 0px 8px 25px;
    background-color: map.get(gv.$colors, "text-alternative");
    color: white;
    .fa-utensils {
        margin-right: 9px;
    }
    .fa-handshake-angle {
        margin-right: 5px;
    }
    a {
        color: white;
    }
}

@mixin footer__desktop {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    h1 {
        margin-left: 25px;
        margin-right: 80px;
    }
    .list__footer {
        display: flex;
        justify-content: space-between;
        margin-right: 50px;
        li {
            margin-right: 15px;
        }
        li:nth-child(2){
            margin-right: 50px;
        }
    }
}

@mixin checkbox__heart {
    margin-right: 20px;
    input[type="checkbox"]
    {
        position: absolute;
        opacity: 0;
    }
    .checked,
    .unchecked {
        position: absolute;
    }
    .unchecked {
        padding-top: 18px;
        z-index: 1;
        opacity: 1;
    }
    .checked {
        transform-origin: 10px center;
        padding-top: 4.5px;
        z-index: 2;
        opacity: 0;
    }
    input[type="checkbox"]:checked ~ .checked {
        animation: heart-filling 600ms forwards;
    }
    
    @keyframes heart-filling {
        from {
            opacity: 0;
            transform: scale(0);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }
}