@use "sass:map";
@use "sass:color";

@use "global_variables" as gv;
@use "global_components" as gc;

* {
    font-family: map.get(gv.$font-families, "text");
    font-size: 16px;
}

body {
    margin: 0;
}

h1 {
    font-family: map.get(gv.$font-families, "title");
}

h2 {
    margin-top: 40px;
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

img {
    object-fit: cover;
}

a {
    text-decoration: none;
    color: black;
}

.loader {
    position: fixed;
    top :0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: 20px solid map.get(gv.$colors, "shadow");
    border-radius: 50%;
    border-top: 20px solid map.get(gv.$colors, "main-purple");;
    border-bottom: 20px solid map.get(gv.$colors, "main-pink");;
    width: 100px;
    height: 100px;
    animation: spinner 3s linear;
    opacity: 0;
    display: inline;
}

@keyframes spinner {
    0% { 
        transform: rotate(0deg);
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% { 
        transform: rotate(360deg); 
        opacity: 0;
    }
}

@keyframes apparition {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

header {
    animation: apparition 4s;
    @include gc.header;
    box-shadow: 0 3px 3px 0 darken(map.get(gv.$colors, "shadow"), 5%);
}

main {
    animation: apparition 4s;
}

.localisation {
    color: map.get(gv.$colors, "text-alternative");
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: darken(map.get(gv.$colors, "background"), 5%);
    .icon__localisation {
        padding: 17px 17px 0 0;
    }
}

.button {
    @include gc.button
}

.presentation {
    text-align: center;
    background-color: map.get(gv.$colors, "background");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding: 0 35px 0 35px;
    p {
        margin-top: 0;
        color: map.get(gv.$colors, "text-alternative");
    }
}

.card {
    @include gc.card;
    .card-content {
        margin: 16px 20px 0 10px;
    }
    p {
        margin: 5px 0 20px 0;
    }
    
    &--step {
        z-index: 0;
        background-color: map.get(gv.$colors, "background");
        flex-direction: row;
        i {
            color: darken(map.get(gv.$colors, "background"),47%);
            margin: 22px 25px 0px 30px;
        }
        .fa-store {
            color: map.get(gv.$colors, "main-purple");
        }
        
    }
    
    &--restaurant {
        flex-direction: column;
        margin-bottom: 18px;
        img {
            height: 231px;
            width: 100%;
            border-radius: 25px 25px 0 0;
        }
    }
}

.operation {
    margin: 20px;
    padding-bottom: 10px;
}

.list__steps {
    margin-left: -25px;
    counter-reset: item; /*Remove default style*/
    list-style: none;
    // padding-left: 12.5px; /*space between the block and the number*/
    article {
        padding-left: 2.5px; /*space between the block and the number*/
    }
    li {
        margin: 25px 0;
    }
    li::before {
        z-index: 1;
        position: absolute;
        color: white;
        background-color: map.get(gv.$colors, "main-purple"); /*Background*/
        border-radius: 50%; /*make rounded*/
        padding-right: 5px; /*Space between text and number*/
        padding-left: 5px; /*Space between text and number*/
        margin-top: 25px; /*fix the innerspace as needed*/
        margin-bottom: 16px; /*fix the innerspace as needed*/
        margin-left: -10px;
        content: counter(item) ""; /*Count the lines*/
        counter-increment: item /*apply the counter*/
    }
}

.restaurants {
    padding: 10px 10px 40px 10px;
    background-color: map.get(gv.$colors, "background");
}

.div__box {
    display: flex;
    flex-direction: column;
    &--restaurant {
        z-index: 0;
    }
    .logo-new {
        z-index: 1;
        position: absolute;
        margin-top: 13px;
        margin-left: calc(100% - 123px);
        rect {
            fill: map.get(gv.$colors, "main-green");
            stroke: map.get(gv.$colors, "main-green");
        }
        text {
            fill: map.get(gv.$colors, "text-green");
        }
    }
}

.checkbox__heart {
    @include gc.checkbox__heart;
}

footer {
    animation: apparition 4s;
    @include gc.footer;
}

@media (min-width: 1024px) {
    .presentation h2 {
        font-size: 40px;
    }

    .operation {
        margin-right: 180px;
        margin-left: 180px;
    }

    .list__steps {
        display: flex;
        justify-content: space-between;
        li {
            width: 30%;
        }
    }

    .restaurants {
        h2 {
            margin-right: 180px;
            margin-left: 180px;
        }
        .div__box {
            margin-right: 180px;
            margin-left: 180px;
        }
    }

    .div__box {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        a {
            width: 45%;
        }
        .logo-new {
            position: absolute;
            margin-left: calc(100% - 463px);
        }
    }

    footer {
        @include gc.footer__desktop;
    }
}