@use "sass:map";
@use "sass:color";

@use "global_variables" as gv;
@use "global_components" as gc;

/****************** A regrouper ******************/
* {
    font-family: map.get(gv.$font-families, "text");
    font-size: 16px;
}

body {
    margin: 0;
}

h1 {
    font-family: map.get(gv.$font-families, "title");
}

h2 {
    margin-top: 40px;
    font-size: 28px;
}

h4 {
    font-size: 18px;
}

img {
    object-fit: cover;
}

a {
    text-decoration: none;
    color: black;
}

// ****************************************

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    @include gc.header;
    a {
        padding-top: 8px;
        padding-left: 17px;
    }
    .logo__ohmyfood {
        margin-left: calc(50% - (197px/2 + 47px));
    }
}

.img-presentation {
    height: 275px;
    width: 100%;
    z-index: -1;
    position: relative;
    display: block;
}

.menu {
    background-color: map.get(gv.$colors, "background");
    margin-top: -55px;
    border-radius: 25px 25px 0 0;
    z-index: 1;
}

.div__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px 40px 0px 17px;
    h2 {
        margin: 0;
        font-family: map.get(gv.$font-families, "title");
    }
    i {
        padding-top: 17px;
    }
}

.card {
    @include gc.card;
    flex-direction: column;
    background-color: white;
    margin-bottom: 12px;
    h4 {
        margin: 10px 0px 5px 15px;
    }
    p {
        margin-top: 0px;
        margin-bottom: 10px;
        font-size: 15px;
    }
    .description {
        margin-left: 15px;
    }
    .price {
        margin-right: 15px;
    }
}

.list__menu {
    margin: 0px 13px 0px 13px;
    h3 {
        font-weight: normal;
        margin-bottom: 0;
    }
}

.list__dishes {
    margin-top: 40px;
    margin-bottom: 40px;
    &--starters{
        animation: starters-apparition 5s;
    }
    &--dishes {
        animation: dishes-apparition 5s;
    }
    &--desserts {
        animation: desserts-apparition 5s;
    }
}

@keyframes starters-apparition {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    33% {
        opacity: 1;
        transform: translateX(0%);
    }
    // translate
}

@keyframes dishes-apparition {
    0% {
        opacity: 0;
    }
    33% {
        opacity: 0;
        transform: translateX(100%);
    }
    66% {
        opacity: 1;
        transform: translateX(0%);
    }
    // translate
}

@keyframes desserts-apparition {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
    // translate
}

.underline-category {
    stroke: map.get(gv.$colors, "main-green");
    stroke-width: 3px;
    margin-bottom: 12px
}

.div__order {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    @include gc.button;
    width: 186px;
}

footer {
    @include gc.footer;
}